@model Escuela
@{
    ViewData["Title"] = "Inicio";
}

<h1>Escuela</h1>
<p><strong>Nombre: @Model.Nombre</strong> </p>
<p><strong>Anio de fundacion: </strong> @Model.AnioDeCreacion</p>
<p><strong>Tipo de escuela: </strong> @Model.TipoEscuela</p>
<br />
<address>
    <p>Direccion: @Model.Direccion</p>
    <p>Pais: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>
<br />
<p>@Model.Id</p>
